

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
      color: #b6c199;   
       font-size: 14px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #b6c199;
    border-radius: 4px;
    background: 0 0;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: #b6c199;
      color: #333;
      transition: .3s ease-in-out;
    }
  }
}

.email-link {
  position: relative;
  left: 50px;
  // opacity: 0;
  animation: fadeIn 1s 3.3s forwards;
}